<h2>Listing products</h2>
<p>Number of products : <%= Product.count %></p>
<p>
<% if !Product.all.blank? %>
<ul>
  <% for product in Product.includes(:user).all %>
    <li>
    Product Name: "<%= product.name %>", Cost: <%= product.price %>, Owner = <%= product.user.name %>
    </li>
    <% end %>
</ul>
<% else %>
  There are no products yet.
<% end %>
</p>

<%= link_to 'New Product', new_product_path %><br>
